@model List<Gas.Models.CustomerModel>
<script>
    $(document).ready(function () {


        $('#SubmitDate').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });

        $('#AddCusBtn').click(function (e) {
            location.href = '@Url.Content("~/Customer/LoadAddNewCustomerView")';
        });


    });
</script>
@*<div class="container-fluid">*@

@*<div class="row">*@
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Customer Details</h4>
            <div class="table-responsive m-t-40">
                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" style="width:100% !important">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Aadhar</th>
                            <th>Mobile</th>
                            <th>Created Date</th>
                            <th>Actions</th>


                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Aadhar</th>
                            <th>Mobile</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName @item.LastName </td>
                                <td>@item.Street</td>
                                <td>@item.Aadhar</td>
                                <td>@item.MobileNumber</td>
                                <td>@item.CreatedOn.Value.ToString("dd MMM yyyy")</td>
                                <td>@Html.ActionLink("Edit", "GetCustomerById", new { customerId = item.CustomerID })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row" style="padding-top:10px;">
                <br />
                <button type="button" id="AddCusBtn" class="btn btn-primary m-b-10 m-l-5">Add New Customer</button>
            </div>
        </div>
    </div>
</div>
@*</div>*@
@*</div>*@




