@model Gas.Models.ViewCustomerModel
@{
    ViewBag.Title = "GetCustomerById";
}
<link href="~/Content/spinner.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .errmsg {
        color: red;
    }
    .editmode{
        
    }

</style>
<script>
    $(document).ready(function () {

        DisableText();

        var ConnectionAmount = parseInt(@ViewBag.ConnectionAmount);

        var dob=@Html.Raw(Json.Encode(Model.customer.DOB.ToString("dd-MMM-yyyy")));
        var createdDate=@Html.Raw(Json.Encode(Model.customer.CreatedOn.Value.ToString("dd-MMM-yyyy")));

        function DisableText()
        {
            $('#UpdateForm input[type="text"]').prop("disabled", true);
            $('#UpdateForm input[type="datetime"]').prop("disabled", true);
            $('#UpdateForm input[type="number"]').prop("disabled", true);
            $('#customer_Gender').prop("disabled", true);
            $('#UpdateForm input[type="checkbox"]').prop("disabled", true);
        }

       
        $('#customer_Aadhar').on('keypress change', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut(2750);
                return false;
            }

            $(this).val(function (index, value) {
                return value.replace(/\W/gi, '').replace(/(.{4})/g, '$1 ');
            });
        });

        $('#customer_Aadhar').focusout(function () {
            aadhar = $(this).val();
            if (aadhar.length != 15) {
                $("#AadharError").html("Aadhar number not in correct format.").show().fadeOut(2750);
                $('#customerModel_Aadhar').val('');
                e.preventDefault();
            }
        });


        $('#customer_MobileNumber').focusout(function () {
            phone = $(this).val();
            phone = phone.replace(/[^0-9]/g, '');
            if (phone.length != 10) {
                $("#MobError").html("Phone number must be 10 digits.").show().fadeOut(2750);
                $('#customerModel_MobileNumber').val('');
                e.preventDefault();
            }
        });


        $('#customer_DOB').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",

        });
        $('#customer_DOB').datepicker("setDate", new Date(dob));

        $('#customer_CreatedOn').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });
        $('#customer_CreatedOn').datepicker("setDate", new Date(createdDate));

        $('.numbval').on('keypress change', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }

        });

        

        //$('#UpdateForm').submit(function () {
        $('#btnSubmit').click(function(){
            if ($('#customer_FirstName').val() == "" || $('#customer_LastName').val() == "" || $('#customer_Gender').val() == "" || $('#customer_DOB').val() == "" || $('#customer_Aadhar').val() == "" ||
                $('#customer_MobileNumber').val() == "" || $('#customer_Street').val() == "" || $('#customer_City').val() == "" || $('#customer_State').val() == "" || $('#customer_PostCode').val() == "")
            {
                //$("#ErrorFooter").html("Required Fields are missing").show().fadeOut(2750);
                swal("Alert", "Required Fields Can't be Blank", "error");

                return false;
            }
            else{
                
                $('#loader-wrapper').show();

                var advanceStatus=$('#installmentModel_advstatus_Value').is(':checked')?true:false;
                var insta1Status=$('#installmentModel_insta1status_Value').is(':checked')?true:false;
                var insta2Status=$('#installmentModel_insta2status_Value').is(':checked')?true:false;
                var insta3Status=$('#installmentModel_insta3status_Value').is(':checked')?true:false;


                var CustomerModel={
                    CustomerID:$('#@Html.IdFor(m=>m.customer.CustomerID)').val(),
                    FirstName:$('#@Html.IdFor(m=>m.customer.FirstName)').val(),
                    LastName:$('#@Html.IdFor(m=>m.customer.LastName)').val(),
                    DOB:$('#@Html.IdFor(m=>m.customer.DOB)').val(),
                    Gender:$('#@Html.IdFor(m=>m.customer.Gender)').val(),
                    Aadhar:$('#@Html.IdFor(m=>m.customer.Aadhar)').val(),
                    Street:$('#@Html.IdFor(m=>m.customer.Street)').val(),
                    City:$('#@Html.IdFor(m=>m.customer.City)').val(),
                    PostCode:$('#@Html.IdFor(m=>m.customer.PostCode)').val(),
                    State:$('#@Html.IdFor(m=>m.customer.State)').val(),
                    MobileNumber:$('#@Html.IdFor(m=>m.customer.MobileNumber)').val(),
                    CreatedOn:$('#@Html.IdFor(m=>m.customer.CreatedOn)').val(),
                    ConsumerNo:$('#@Html.IdFor(m=>m.customer.ConsumerNo)').val()
                }

                var InstalldetailModel={
                    PaymentId:$('#@Html.IdFor(m=>m.installmentModel.PaymentId)').val(),
                    advance:$('#@Html.IdFor(m=>m.installmentModel.advance)').val(),
                    Installment1:$('#@Html.IdFor(m=>m.installmentModel.Installment1)').val(),
                    Installment2:$('#@Html.IdFor(m=>m.installmentModel.Installment2)').val(),
                    Installment3:$('#@Html.IdFor(m=>m.installmentModel.Installment3)').val(),
                    insta1status:insta1Status,
                    insta2status:insta2Status,
                    insta3status:insta3Status,
                    advstatus:advanceStatus
                }

                var input={
                    "customer":CustomerModel,
                    "installmentModel":InstalldetailModel
                }
               

                $.ajax({
                    type: "POST",
                    url: "/Customer/UpdateCustomer",
                    data: input,
                    datatype: "json",
                    cache: false,
                    success: function (data) {
                        $('#loader-wrapper').hide();
                        if(data.status=="Success")
                        {
                            swal("Success", "Customer Details Updated Successfully", "success").then(function() {
                                window.location = "/Customer/GetCustomers"});                                                      
                        }
                        else{
                            swal("Alert", "Update Failed", "error");
                        }
                    },
                    error: function (xhr) {
                        alert('No Valid Data');
                    }
                });


            }
        });

        
        $('#btnCancel').click(function (e) {
            location.href = '@Url.Content("~/Customer/GetCustomers/")';
        });


        $('#installmentModel_advance').focusout(function () {
            var advanceAmount = $(this).val();
            if ((parseInt(ConnectionAmount) - parseInt($('#installmentModel_advance').val())) > 0)
            {
                var instaAmount = ((parseInt(ConnectionAmount) - parseInt($('#installmentModel_advance').val())) / 3).toFixed();
                $('#installmentModel_Installment1').val(instaAmount);
                $('#installmentModel_Installment2').val(instaAmount);
                $('#installmentModel_Installment3').val(instaAmount);
            }
            else
            {
                $('#installmentModel_Installment1').val(0);
                $('#installmentModel_Installment2').val(0);
                $('#installmentModel_Installment3').val(0);
            }


        });

        $('#EditButton').click(function(){
            $('#EditButton').css({'display':'none'});
            $('#btnSubmit').show();
            $('#UpdateForm input[type="text"]').prop("disabled", false);
            $('#UpdateForm input[type="datetime"]').prop("disabled", false);
            $('#UpdateForm input[type="number"]').prop("disabled", false);
            $('#customer_Gender').prop("disabled", false);
            $('#UpdateForm input[type="checkbox"]').prop("disabled", false);
        });

    });
</script>
<div class="card card-outline-primary" style="width:100%;">
    @*@using (Html.BeginForm("UpdateCustomer", "Customer", FormMethod.Post, new { id = "UpdateForm" }))
   {*@
    

        <div class="card-header">
            <h4 class="m-b-0 text-white">Client Information</h4>
        </div>
        <div class="card-body">
            <form action="" id="UpdateForm" method="">
                <div class="form-body">
                    <h3 class="card-title m-t-15">Person Info</h3>
                    <hr>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                @Html.EditorFor(s => s.customer.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label">Last Name</label>
                                @Html.EditorFor(s => s.customer.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label class="control-label">Gender</label>

                                @Html.DropDownListFor(s => s.customer.Gender, new SelectList(new List<Object> {
                                                                                        new {value="Male",text="Male"},
                                                                                        new {value="Female",text="Female"},
                                                                                        }, "value", "text", 2), new { @class = "form-control" })

                                <small class="form-control-feedback"> Select your gender </small>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Date of Birth</label>
                                @Html.EditorFor(s => s.customer.DOB, new { htmlAttributes = new {  @class = "form-control", placeholder = "dd/mm/yyyy" } })
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Aadhar</label>

                                @Html.EditorFor(s => s.customer.Aadhar, new { htmlAttributes = new { @class = "form-control", placeholder = "Aadhar Number" } })
                                <span id="AadharError" class="errmsg"></span>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Mobile Number</label>
                                @Html.EditorFor(s => s.customer.MobileNumber, new { htmlAttributes = new { @class = "form-control numbval", placeholder = "Mobile Number" } })
                                <span id="MobError" class="errmsg"></span>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Consumer No</label>
                                @Html.EditorFor(s => s.customer.ConsumerNo, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Created Date</label> 
                                @Html.EditorFor(s => s.customer.CreatedOn, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>
                    </div>

                    <!--/row-->
                    <h3 class="box-title m-t-40">Address</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Street</label>
                                @Html.EditorFor(s => s.customer.Street, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                @Html.EditorFor(s => s.customer.City, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                @Html.EditorFor(s => s.customer.State, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Post Code</label>
                                @Html.EditorFor(s => s.customer.PostCode, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" value="India" readonly="readonly">
                            </div>
                        </div>
                        <!--/span-->
                    </div>


                    <h3 class="box-title m-t-40">Payment Info</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.CheckBoxFor(s => s.installmentModel.advstatus.Value)
                                <label>Advance</label>
                                @Html.EditorFor(s => s.installmentModel.advance, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.CheckBoxFor(s => s.installmentModel.insta1status.Value)
                                <label>Installment 1</label>
                                @Html.EditorFor(s => s.installmentModel.Installment1, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.CheckBoxFor(s => s.installmentModel.insta2status.Value)
                                <label>Installment 2</label>
                                @Html.EditorFor(s => s.installmentModel.Installment2, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.CheckBoxFor(s => s.installmentModel.insta3status.Value)                              
                                <label>Installment 3</label>
                                @Html.EditorFor(s => s.installmentModel.Installment3, new { htmlAttributes = new { @class = "form-control numbval" } })
                                @Html.HiddenFor(s=>s.installmentModel.PaymentId)
                                @Html.HiddenFor(s=>s.customer.CustomerID)
                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-actions">
                    <button type="button" id="btnSubmit" class="btn btn-success" style="padding:6px 30px; display:none;"> <i  class="fa fa-check"></i> Save Changes</button>
                    <button type="button" id="EditButton" class="btn btn-info" style="padding:6px 30px;"> Edit </button>
                    <button type="button" id="btnCancel" class="btn btn-inverse" style="padding:6px 30px;">Cancel</button>
                    <span id="ErrorFooter" class="errmsg"></span>

                </div>

            </form>
        </div>
        
    <div id="loader-wrapper" style="display:none;">
          <div id="loader"></div>
        </div>

        @*}*@
    
    </div>
