@model Gas.Models.AddCustomerModel
@{
    ViewBag.Title = "Add New Customer";
}

@*<div class="col-lg-6">*@

<style type="text/css">
    .errmsg {
        color: red;
    }
</style>
<script>
    $(document).ready(function () {
        var ConnectionAmount = parseInt(@ViewBag.ConnectionAmount);

        $('#customerModel_Aadhar').on('keypress change', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut(2750);
                return false;
            }

            $(this).val(function (index, value) {
                return value.replace(/\W/gi, '').replace(/(.{4})/g, '$1 ');
            });
        });

        $('#customerModel_Aadhar').focusout(function () {
            aadhar = $(this).val();
            if (aadhar.length != 15) {
                $("#AadharError").html("Aadhar number not in correct format.").show().fadeOut(2750);
                $('#customerModel_Aadhar').val('');
                e.preventDefault();
            }
        });


        $('#customerModel_MobileNumber').focusout(function () {
            phone = $(this).val();
            phone = phone.replace(/[^0-9]/g, '');
            if (phone.length != 10) {
                $("#MobError").html("Phone number must be 10 digits.").show().fadeOut(2750);
                $('#customerModel_MobileNumber').val('');
                e.preventDefault();
            }
        });


        $('#customerModel_DOB').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });


        $('#customerModel_CreatedOn').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });

        $('.numbval').on('keypress change', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }

        });


        $('#FormID').submit(function () {
            if ($('#customerModel_FirstName').val() == "" || $('#customerModel_LastName').val() == "" || $('#customerModel_Gender').val() == "" || $('#customerModel_DOB').val() == "" || $('#customerModel_Aadhar').val() == "" ||
                $('#customerModel_MobileNumber').val() == "" || $('#customerModel_Street').val() == "" || $('#customerModel_City').val() == "" || $('#customerModel_State').val() == "" || $('#customerModel_PostCode').val() == "") {
                $("#ErrorFooter").html("Required Fields are missing").show().fadeOut(2750);
                return false;
            }
        });

        $('#btnCancel').click(function (e) {
            location.href = '@Url.Content("~/Customer/GetCustomers/")';
        });

       
        $('#payModel_AdvanceAmount').focusout(function () {
            var advanceAmount = $(this).val();
            if ((parseInt(ConnectionAmount) - parseInt($('#payModel_AdvanceAmount').val())) > 0)
            {
                var instaAmount = ((parseInt(ConnectionAmount) - parseInt($('#payModel_AdvanceAmount').val())) / 3).toFixed();
                $('#payModel_Installment2').val(instaAmount);
                $('#payModel_Installment3').val(instaAmount);
                $('#payModel_Installment1').val(instaAmount);
            }
            else
            {
                $('#payModel_Installment2').val(0);
                $('#payModel_Installment3').val(0);
                $('#payModel_Installment1').val(0);
            }
           
           
        });

    });
</script>
<div class="card card-outline-primary" style="width:100%;">
    @using (Html.BeginForm("AddNewCustomer", "Customer", FormMethod.Post, new { id = "FormID" }))
    {


        <div class="card-header">
            <h4 class="m-b-0 text-white">Client Information</h4>
        </div>
        <div class="card-body">
            <form action="#">
                <div class="form-body">
                    <h3 class="card-title m-t-15">Person Info</h3>
                    <hr>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                @Html.EditorFor(s => s.customerModel.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label">Last Name</label>
                                @Html.EditorFor(s => s.customerModel.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label class="control-label">Gender</label>

                                @Html.DropDownListFor(s => s.customerModel.Gender, new SelectList(new List<Object> {
                                                                                        new {value="Male",text="Male"},
                                                                                        new {value="Female",text="Female"},
                                                                                        }, "value", "text", 2), new { @class = "form-control" })

                                <small class="form-control-feedback"> Select your gender </small>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Date of Birth</label>
                                @Html.EditorFor(s => s.customerModel.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "dd/mm/yyyy" } })
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Aadhar</label>

                                @Html.EditorFor(s => s.customerModel.Aadhar, new { htmlAttributes = new { @class = "form-control", placeholder = "Aadhar Number" } })
                                <span id="AadharError" class="errmsg"></span>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Mobile Number</label>
                                @Html.EditorFor(s => s.customerModel.MobileNumber, new { htmlAttributes = new { @class = "form-control numbval", placeholder = "Mobile Number" } })
                                <span id="MobError" class="errmsg"></span>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Consumer No</label>
                                @Html.EditorFor(s => s.customerModel.ConsumerNo, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Created Date</label>
                                @Html.EditorFor(s => s.customerModel.CreatedOn, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>
                    </div>

                    <!--/row-->
                    <h3 class="box-title m-t-40">Address</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Street</label>
                                @Html.EditorFor(s => s.customerModel.Street, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                @Html.EditorFor(s => s.customerModel.City, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                @Html.EditorFor(s => s.customerModel.State, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Post Code</label>
                                @Html.EditorFor(s => s.customerModel.PostCode, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" value="India" readonly="readonly">
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                   
                    <h3 class="box-title m-t-40">Payment Info</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Advance</label>
                                @Html.EditorFor(s => s.payModel.AdvanceAmount, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Installment 1</label>
                                @Html.EditorFor(s => s.payModel.Installment1, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Installment 2</label>
                                @Html.EditorFor(s => s.payModel.Installment2, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Installment 3</label>
                                @Html.EditorFor(s => s.payModel.Installment3, new { htmlAttributes = new { @class = "form-control numbval" } })
                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" id="btnSubmit" class="btn btn-success" style="padding:6px 30px;"> <i class="fa fa-check"></i> Save</button>
                    <button type="button" id="btnCancel" class="btn btn-inverse" style="padding:6px 30px;">Cancel</button>
                    <span id="ErrorFooter" class="errmsg"></span>

                </div>

            </form>
        </div>

    }
</div>

